<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Pokemon Home</title>

  <!-- Bootstrap -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <!--navigation bar-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">PokeIDB</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Pokemon</a></li>
        <li><a href="#">Types</a></li>
        <li><a href="#">Moves</a></li>
        <li><a href="#">Bio</a></li>s
      </ul>
    </div>
  </nav>
  <!--navigation bar ends-->

  <div class="container">
    <div class="jumbotron">
      <h1>Our Group</h1>
      <p>General info about our group</p>
    </div>
    <div class="row">
      <center>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading"><h2>Meet our members!</h2></div>
            <div class="panel-body">
              <div class="col-sm-3"><img src="static/images/alex.jpg" class="img-rounded" alt="Alex" height="auto" width="100%">
                <h3>Alex</h3>
                <p>bio</p>
                <p><i><strong>Major responsibilities:</strong></i> Technical Report, Issues</p>
                <p><i><strong>No. of commits:</strong></i> 1</p>
                <p><i><strong>No. of issues:</strong></i> 17</p>
                <!--<p><i><strong>No. of unit tests:</strong></i> </p>-->
              </div>
              <div class="col-sm-3"><img src="static/images/andrea.jpg" class="img-rounded" alt="Andrea" height="auto" width="100%">
                <h3>Andrea</h3>
                <p>bio</p>
                <p><i><strong>Major responsibilities:</strong></i> Bio Page</p>
                <p><i><strong>No. of commits:</strong></i> 1</p>
                <p><i><strong>No. of issues:</strong></i> </p>
                <!--<p><i><strong>No. of unit tests:</strong></i> </p>-->
              </div>
              <div class="col-sm-3"><img src="static/images/replace-image.jpg" class="img-rounded" alt="Deyuan" height="auto" width="100%">
                <h3>Deyuan</h3>
                <p>bio</p>
                <p><i><strong>Major responsibilities:</strong></i></p>
                <p><i><strong>No. of commits:</strong></i> </p>
                <p><i><strong>No. of issues:</strong></i> </p>
                <!--<p><i><strong>No. of unit tests:</strong></i> </p>-->
              </div>
              <div class="col-sm-3"><img src="static/images/replace-image.jpg" class="img-rounded" alt="William" height="auto" width="100%">
                <h3>William</h3>
                <p>bio</p>
                <p><i><strong>Major responsibilities:</strong></i></p>
                <p><i><strong>No. of commits:</strong></i> </p>
                <p><i><strong>No. of issues:</strong></i> </p>
                <!--<p><i><strong>No. of unit tests:</strong></i> </p>-->
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading"><h2>STATS</h2></div>
            <div class="panel-body">
              <p><i><strong>No. of commits:</strong></i> 1 <strong>|</strong> <i><strong>No. of issues:</strong></i> 17 </p> <!--<strong>|</strong> <i><strong>No. of unit tests:</strong></i> </p>-->
              <span class="label label-primary"><a href="https://github.com/deyuanzhang/cs329e-idb/issues" target="_blank" style="color: rgb(255,255,255)">GitHub Issue Tracker</a></span>
              <span class="label label-primary"><a href="https://github.com/deyuanzhang/cs329e-idb" target="_blank" style="color: rgb(255,255,255)">GitHub Repo</a></span>
              <span class="label label-primary"><a href="https://github.com/deyuanzhang/cs329e-idb/wiki" target="_blank" style="color: rgb(255,255,255)">GitHub Wiki</a></span>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading"><h2>DATA</h2></div>
            <div class="panel-body">
              links to the data sources
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading"><h2>TOOLS</h2></div>
            <div class="panel-body">
              tools used: languages (HTML/CSS, Python, Flask)
            </div>
          </div>
        </div>

      </center>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/static/js/bootstrap.min.js"></script>
</body>


</html>
