<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include "template.html" %}
  <title>About the Project</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Our Group</h1>
      <p>General info about our group</p>
    </div>
    <div class="row">
      <center>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading"><h2>Meet our members!</h2></div>
            <div class="panel-body">
              <div class="col-sm-3"><img src="static/images/alex.jpg" class="img-rounded" alt="Alex" height="auto" width="100%">
                <h3>Alex</h3>
                <p>Classification: Senior</p>
                <p>Major: Marketing</p>
                <p>Hometown: Plano, TX</p>
                <p><i><strong>Major responsibilities:</strong></i> Technical Report, Issues</p>
                <p><i><strong>No. of commits:</strong></i> 1</p>
                <p><i><strong>No. of issues:</strong></i> 17</p>
                <!--<p><i><strong>No. of unit tests:</strong></i> </p>-->
              </div>
              <div class="col-sm-3"><img src="static/images/andrea.jpg" class="img-rounded" alt="Andrea" height="auto" width="100%">
                <h3>Andrea</h3>
                <p>Classification: Senior</p>
                <p>Major: Computer Science</p>
                <p>Hometown: Houston, TX</p>
                <p><i><strong>Major responsibilities:</strong></i> Bio Page, Pokemon pages, Types of Pokemon pages, Types of Moves pages</p>
                <p><i><strong>No. of commits:</strong></i> 22</p>
                <p><i><strong>No. of issues:</strong></i> 2</p>
                <!--<p><i><strong>No. of unit tests:</strong></i> </p>-->
              </div>
              <div class="col-sm-3"><img src="static/images/replace-image.jpg" class="img-rounded" alt="Deyuan" height="auto" width="100%">
                <h3>Deyuan</h3>
                <p>Classification: Junior</p>
                <p>Major: Computer Science</p>
                <p>Hometown: Southlake, TX</p>
                <p><i><strong>Major responsibilities:</strong></i> GCP Setup, Template Setup</p>
                <p><i><strong>No. of commits:</strong></i>13</p>
                <p><i><strong>No. of issues:</strong></i> 0</p>
                <!--<p><i><strong>No. of unit tests:</strong></i> </p>-->
              </div>
              <div class="col-sm-3"><img src="static/images/replace-image.jpg" class="img-rounded" alt="William" height="auto" width="100%">
                <h3>William</h3>
                <p>Classification: Senior</p>
                <p>Major: Applied Mathematics</p>
                <p>Hometown: Austin, TX</p>
                <p><i><strong>Major responsibilities:</strong></i> Collecting Data</p>
                <p><i><strong>No. of commits:</strong></i>2</p>
                <p><i><strong>No. of issues:</strong></i>0</p>
                <!--<p><i><strong>No. of unit tests:</strong></i> </p>-->
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading"><h2>STATS</h2></div>
            <div class="panel-body">
              <p><i><strong>No. of commits:</strong></i> 39 <strong>|</strong> <i><strong>No. of issues:</strong></i> 19</p> <!--<strong>|</strong> <i><strong>No. of unit tests:</strong></i> </p>-->
              <span class="label label-primary"><a href="https://github.com/deyuanzhang/cs329e-idb/issues" target="_blank" style="color: rgb(255,255,255)">GitHub Issue Tracker</a></span>
              <span class="label label-primary"><a href="https://github.com/deyuanzhang/cs329e-idb" target="_blank" style="color: rgb(255,255,255)">GitHub Repo</a></span>
              <span class="label label-primary"><a href="https://github.com/deyuanzhang/cs329e-idb/wiki" target="_blank" style="color: rgb(255,255,255)">GitHub Wiki</a></span>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading"><h2>DATA</h2></div>
            <div class="panel-body">
              <a href="https://pokemondb.net/">Pokemon Database</a>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading"><h2>TOOLS</h2></div>
            <div class="panel-body">
              Tools used: Languages (HTML/CSS, Python, Flask, JavaScript), GCP, Namecheap
            </div>
          </div>
        </div>

      </center>
    </div>
  </div>
</body>


</html>
