<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include "template.html" %}
  <title>Fire</title>
</head>
<body>
<center>
<h1>Fire</h1>
<br>
<img src="http://pm1.narvii.com/6371/c9a5acc4b8f86d11ada23dd8bea2502cd34974f2_hq.jpg" alt="Fire"/>
<br>
<h4>Attack super effective against</h4>
Grass, Ice, Bug, Steel
<br><br>
<h4>Attack not effective against</h4>
Fire, Water, Rock, Dragon
<br><br>
<h4>Defense not very effective against</h4>
Fire, Grass, Ice, Bug, Steel, Fairy
<br><br>
<h4>Defense super effective against</h4>
Water, Ground, Rock
</center>
</body>
</html>