<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include "template.html" %}
  <title>Grass</title>
</head>
<body>
<center>
<h1>Grass</h1>
<br>
<img src="http://pm1.narvii.com/6371/7636800e1cbc61bada7881715de051effcdbf42e_hq.jpg" alt="Grass"/>
<br><br>
<h4>Attack super effective against</h4>
Water, Ground, Rock
<br><br>
<h4>Attack not effective against</h4>
Fire, Grass, Poison, Flying, Bug, Dragon, Steel
<br><br>
<h4>Defense not very effective against</h4>
Water, Electric, Grass, Ground
<br><br>
<h4>Defense super effective against</h4>
Fire, Ice, Poison, Flying, Bug
</center>
</body>
</html>