
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include "template.html" %}
  <style>
      .parallax {
          /* The image used */
          background-image: url("./static/images/pokemonHome.png");
      
          /* Set a specific height */
          min-height: 500px; 
      
          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
      }
  </style>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to Kanto!</h1>
    </div>
    <center>
      <div class="parallax"></div>
    </center>
  </div>
</body>


</html>