<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include "template.html" %}>
  <title>Hydropump</title>
</head>
<body>
<center>
<h1>Hydropump</h1>
<br>
<img src="https://vignette4.wikia.nocookie.net/pokemon/images/f/fb/Dawn_Piplup_Hydro_Pump.png/revision/latest?cb=20150908045943" alt="Hydropump" width="640px" height="360px">
<br><br>
<h4>Power of move</h4>
110
<h4>Accuracy</h4>
80
<h4>Type of move</h4>
Water
<h4>Category</h4>Special
<h4>Effect on other pokemon</h4>
None
<h4>Description</h4>
A high volume of water is blasted at the foe under great pressure.
</center>
</body>
</html>