<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include "template.html" %}
  <title>Inferno</title>
</head>
<body>
<center>
<h1>Inferno</h1>
<br>
<img src="http://images6.fanpop.com/image/polls/1387000/1387397_1403040730118_full.png?v=1403041306" alt="Inferno" width="640px" height="360px">
<br><br>
<h4>Power of move</h4>
100
<h4>Accuracy</h4>
50
<h4>Type of move</h4>
Fire
<h4>Category</h4>
Special
<h4>Effect on other pokemon</h4>
Burn
<h4>Description</h4>
The user attacks by engulfing the target in an intense fire. It leaves the target with a burn.
</center>
</body>
</html>