<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Pokemon</title>

  <script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style type="text/css">
  /* Sortable tables */
  table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
  }
  table.sortable th, td {
    padding: 10px;
    text-align: center;
  }
  table.sortable td {
    border-top: 1px solid #ddd;
  }
  </style>
</head>

<body>
  <!--Navigation Bar-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">PokeIDB</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Pokemon</a></li>
        <li><a href="#">Types</a></li>
        <li><a href="#">Moves</a></li>
        <li><a href="#">Bio</a></li>s
      </ul>
    </div>
  </nav>
  <!--Navigation Bar Code Ends-->

  <!--
  To include:
  table of all of the instances of that model
  at least five columns of attributes of that model
  ability to sort the table using any of the columns in ascending or descending order
  with links to those instances
  right now with only three rows
  reference: https://bulbapedia.bulbagarden.net/wiki/List_of_Pok%C3%A9mon_by_National_Pok%C3%A9dex_number
  pokemon | type | moves | characteristics (biology) | evolutions
-->
<center>
  <table class="sortable">
    <thead>
      <tr>
        <th>Pokemon</th>
        <th>Number</th>
        <th>Type</th>
        <th>Catch Rate</th>
        <th>Skill</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bulbasaur</td>
        <td>001</td>
        <td>Grass, Poison</td>
        <td>5.9%</td>
        <td>3/4</td>
      </tr>
      <tr>
        <td>Caterpie</td>
        <td>010</td>
        <td>Bug</td>
        <td>33.3%</td>
        <td>4/4</td>
      </tr>
      <tr>
        <td>Eevee</td>
        <td>133</td>
        <td>Normal</td>
        <td>5.9%</td>
        <td>2/4</td>
      </tr>
    </tbody>
  </table>
</center>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>


</html>
