
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include "template.html" %}
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Moves of Pokemon</h1>
      <p>Listing on the moves of Pokemon</p>
    </div>
    <div class="row">
      <center>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading"><h2>Meet the Moves!</h2></div>
            <table>
              {% for m in move_all %}
                <tr>
                  <td>
                    <a href="/moves/{{m.name}}">{{m.name}}</a>
                  </td>
                </tr>
              {% endfor %}
            </table>
            </div>

          </div>
        </div>
      </center>
    </div>
  </div>
</body>
</html>
