
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include "template.html" %}
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Our Moves</h1>
    </div>
    <div class="row">
      <center>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading"><h2>Meet the Moves!</h2></div>
            <div class="panel-body">
              <img src="https://vignette4.wikia.nocookie.net/pokemon/images/f/fb/Dawn_Piplup_Hydro_Pump.png/revision/latest?cb=20150908045943" alt="Hydropump" width="640px" height="360px">
              <h1><a href={{ url_for('hydropump')}}>Hydropump</a></h1>
              </div>
              <img src="http://images6.fanpop.com/image/polls/1387000/1387397_1403040730118_full.png?v=1403041306" alt="Inferno" width="640px" height="360px">   
              <h1><a href={{ url_for('inferno')}}>Inferno</a></h1> 
              </div>
              <img src="https://vignette.wikia.nocookie.net/pokemon/images/e/e5/Chapman_Chesnaught_Seed_Bomb.png/revision/latest/scale-to-width-down/640?cb=20160218232123" alt="Seedbomb">
                <h1><a href={{ url_for('seedbomb')}}>Seedbomb</a></h1>
            </div>
            </div>

          </div>
        </div>


      </center>
    </div>
  </div>
</body>


</html>