<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include "template.html" %}
  <title>{{pokemon.name}}</title>
  <style>
  table{
    width: 13%;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  th, td{
    padding: 5px;
    text-align: center;
    font-size: 15px;
  }
  #paragraph {
    font-style: italic;
    width: 50%;
  }
  p {
    font-size: 15px;
  }
  </style>
</head>
<body>
  <center>
    <h1>{{pokemon.name | capitalize}}</h1>
    <br>
    <img src={{pokemon.image}} alt={{pokemon.name}}/>
    <br>
    <h3>Type:</h3>
    <table>
      {% for t in types %}
        <tr>
          <td><a href="/types/{{t}}">{{t | capitalize}}</a></td>
        </tr>
        {% endfor %}
    </table>
    <h3>Moves</h3>
    <table>
      {% for m in moves %}
        <tr>
          <td><a href="/moves/{{m}}">{{m | capitalize}}</a></td>
        </tr>
      {% endfor %}
    </table>
    <h3>Stats:</h3>
    <table>
      <th>Attack</th>
      <tr>
        <td>{{attack}}</td>
      </tr>
      <th>Defense</th>
      <tr>
        <td>{{defense}}</td>
      </tr>
      <th>Special Attack</th>
      <tr>
        <td>{{spattack}}</td>
      </tr>
      <th>Special Defense</th>
      <tr>
        <td>{{spdefense}}</td>
      </tr>
    </table>
  </center>
</body>
</html>
