
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include "template.html" %}
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Our Pokemon</h1>
    </div>
    <div class="row">
      <center>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading"><h2>Meet the pokemon!</h2></div>

            <div class="panel-body">
              <img src="https://img.pokemondb.net/artwork/squirtle.jpg" alt="Squirtle"/>
                <h1><a href={{ url_for('squirtle')}}>Squirtle (#007)</a></h1>
              
              <img src="https://img.pokemondb.net/artwork/charmander.jpg" alt="Charmander"/>
                <h1><a href={{ url_for('charmander')}}>Charmander (#004)</a></h1>
          
              <img src="https://img.pokemondb.net/artwork/bulbasaur.jpg" alt="Bulbasaur"/>
                <h1><a href={{ url_for('bulbasaur')}}>Bulbasaur (#001)</a></h1>
          
            </div>
            </div>

          </div>
        </div>

      </center>
    </div>
  </div>
</body>


</html>