
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include "template.html" %}
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Our Pokemon</h1>
    </div>
    <div class="row">
      <center>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading"><h2>Meet the pokemon!</h2></div>

            <table>
              {% for p in pokemon_all %}
                <tr>
                  <td>
                    <a href="/pokemon/{{p.name}}">{{p.name}}</a>
                  </td>
                </tr>
              {% endfor %}
            </table>
            </div>

          </div>
        </div>

      </center>
    </div>
  </div>
</body>


</html>
