<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include "template.html" %}
  <title>Seed Bomb</title>
</head>
<body>
<center>
<h1>Seed Bomb</h1>
<br>
<img src="https://vignette.wikia.nocookie.net/pokemon/images/e/e5/Chapman_Chesnaught_Seed_Bomb.png/revision/latest/scale-to-width-down/640?cb=20160218232123" alt="Seedbomb">
<br><br>
<h4>Power of move</h4>
80
<h4>Accuracy</h4>
100
<h4>Type of move</h4>
Grass
<h4>Category</h4>
Physical
<h4>Effect on other pokemon</h4>
None
<h4>Description</h4>
The user slams a barrage of hard-shelled seeds down on the foe from above.
</center>
</body>
</html>