<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include "template.html" %}
</head>

<body>

  <center>
    <div class="list-group">
      <a href="#" class="list-group-item">Poke 1</a>
      <a href="#" class="list-group-item">Poke 2</a>
      <a href="#" class="list-group-item">Poke 3</a>
    </div>
  </center>
</body>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>


</html>
