<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include "template.html" %}
  <title>{{type.name}}</title>
  <style>
  table{
    width: 13%;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  th, td{
    padding: 5px;
    text-align: center;
    font-size: 15px;
  }
  #paragraph {
    font-style: italic;
    width: 50%;
  }
  p {
    font-size: 15px;
  }
  </style>
</head>
<body>
  <center>
    <h1>{{type.name | capitalize}}</h1>
    <br>
    <img src="../static/images/{{type.name | capitalize}}.png" alt={{type.name}}/>
    <br>
    <h3>Half Damage To:</h3>
    <table>
      {% if half_to == [''] %}
        <tr>
          <td><p>None</p></td>
        </tr>
      {% else %}
        {% for h in half_to %}
          <tr>
            <td><a href="/types/{{h}}">{{h | capitalize}}</a></td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
    <h3>Half Damage From:</h3>
    <table>
      {% if half_from == [''] %}
        <tr>
          <td><p>None</p></td>
        </tr>
      {% else %}
        {% for h in half_from %}
          <tr>
            <td><a href="/types/{{h}}">{{h | capitalize}}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
    <h3>Double Damage To:</h3>
    <table>
      {% if double_to == [''] %}
        <tr>
          <td><p>None</p></td>
        </tr>
      {% else %}
        {% for d in double_to %}
          <tr>
            <td><a href="/types/{{d}}">{{d | capitalize}}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
    <h3>Double Damage From:</h3>
    <table>
      {% if double_from == [''] %}
        <tr>
          <td><p>None</p></td>
        </tr>
      {% else %}
        {% for d in double_from %}
          <tr>
            <td><a href="/types/{{d}}">{{d | capitalize}}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
  </center>
</body>
</html>
