<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include "template.html" %}
  <title>Water</title>
</head>
<body>
<center>
<h1>Water</h1> <!--with link to where i got info: https://bulbapedia.bulbagarden.net/wiki/Normal_(type)-->
<br>
<img src="http://pm1.narvii.com/6371/a617f3c21b5b320a406ac2e7dbd7fb6678f78fa5_hq.jpg" alt="Water"/>
<br><br>
<h4>Attack super effective against</h4>
Fire, Ground, Rock
<br><br>
<h4>Attack not effective against</h4>
Water, Grass, Dragon
<br><br>
<h4>Defense not very effective against</h4>
Fire, Water, Ice, Steel
<br><br>
<h4>Defense super effective against</h4>
Electric, Grass
<!--links to crises & people-->
</center>
</body>
</html>